
.project
.cproject
.pydevproject
.scons*
*.prefs
*.properties
*.MF
*.log

#mapbuild
*/.svn/*
*.bak
*/Debug/
*/Release/
*/build/


# Object files
*.o
*.ko
*.obj
*.elf
*.pyc
*.d
*.mk

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
